<h1>{{title}}</h1>
<button class="btn btn-primary" style="margin-left: 20px;" (click)="toggleDiv()">
  <i class="fas fa-check"></i>Add Employee</button>
&nbsp;

<div *ngIf="showForm">
  <form #myForm="ngForm">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="model.firstName" required>
    </div>
  
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="model.lastName" required>
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="model.mail" required>
    </div>
  
    <div>
      <label for="mobile">Mobile:</label>
      <input type="text" id="mobile" name="mobile" [(ngModel)]="model.mobile" required>
    </div>
  
    <button *ngIf="btnFlag==='add'" type="submit" [disabled]="!myForm.valid" class="btn btn-primary" (click)="onSubmit(myForm)">
      Submit</button>
    <button *ngIf="btnFlag==='edit'" type="submit" [disabled]="!myForm.valid" class="btn btn-info" (click)="updateEmpData(myForm)">Update</button>
  </form>
  
</div>






<button class="btn btn-primary" (click) = "getAllEmployee()">Show Employee</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">SL No.</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Mail ID</th>
        <th scope="col">Mobile</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}} &nbsp; {{employee.lastName}}</td>
        <td>{{employee.mail}}</td>
        <td>{{employee.mobile}}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="getEmployeeById(employee.id)">
            <i class="bi bi-search"></i> View
          </button> 
          &nbsp;
            <button class="btn btn-primary btn-sm" (click)="editEmp(employee.id)">
                <i class="bi bi-pencil-square"></i> Edit
            </button>
            &nbsp;
            <button class="btn btn-danger btn-sm" (click)="deleteEmp(employee.id)">
                <i class="bi bi-trash"></i> Delete
            </button> 
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="employee">
    <h2>Employee Data For</h2>
    <table class="table" style="width: 900px;">
      <thead>
        <tr>
          <th scope="col">Employee ID : </th><td>{{employee.id}}</td>
          <th scope="col">Name : </th><td>{{employee.firstName}} &nbsp; {{employee.lastName}}</td>
          <th scope="col">Mail ID : </th> <td>{{employee.mail}}</td>
          <th scope="col">Mobile :</th> <td>{{employee.mobile}}</td>
        </tr>
      </thead>
    </table>
  </div>